body{
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: antiquewhite;
}
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0,150px;
 }
 .nav-title{
    font-weight: 800;
    color: black;
    font-size: 45px;
 }
 .primary-color{
    color: orange;
 }
 .btn-primary{
    border-radius: 5px;
    background-color: orange;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: 0;
 }
 nav > ul{
    display: flex;
 }
 nav li{
    list-style: none;
    margin-right: 50px;
 }
 nav a{
    text-decoration: none;
    color: gray;
 }
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .pro-pic{
    width: 500;
}


 .contact-btn{
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
    font-weight: 700;
    color:#FD6E0A;
    border-color: #FD6E0A;
 }
 